@media only screen and (max-width: 600px) {

    .About {
        min-height: 300vh;
        width: 100%;
        background: #88858b;
        display: flex;
        flex-direction: column;
    }
    .topAbout {
        display: flex;
        flex-direction: column;
    }

    .visionTitle {
        font-size: 2.8em;
        color: black;
        margin-left: 10%;
        margin-top: 2%;
        font-family: 'Lora', serif;
    }

    .call {
        /* text-align: center; */
        height: 90%;
        margin-left: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 3%;
        color: rgb(85, 0, 85);
        min-width: 90%;
        text-align: center;
    }
    

    .ceo {
        display: flex;
        flex-direction: column;
        margin-top: 10%;

    }

    .ceoTitle {
        font-size: 2em;
        color: black;
        margin-right: 5%;
        margin-top: 2%;
        font-family: 'Lora', serif;
    }
    
    .ceoDescription {
        height: 90%;
        margin-left: 4%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 3%;
        min-width: 90%;
        font-size: 1.75em;
        text-align: center;
    }
}

.About {
    height: auto;
    width: 100%;
    background: #88858b;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(29, 29, 29);
    align-items: center;

}

.topAbout {
    display: flex;
    width: 100%;
    height: auto;
}

.call {
    /* text-align: center; */
    height: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    color: rgb(85, 0, 85);
    width: 50%;
    text-align: center;
}

.greenText {
    margin: 0;
    font-family: 'Lora', serif;
    color: #32ff2e;
}

.visionTitle {
    font-size: 2.8em;
    color: black;
    margin-left: 10%;
    margin-top: 2%;
    font-family: 'Lora', serif;
}

.ceo {
    display: flex;
    margin-bottom: 8%;

}

.ceoTitle {
    font-size: 2.8em;
    color: black;
    margin-left: 10%;
    margin-top: 2%;
    font-family: 'Lora', serif;
}

.ceoDescription {
    height: 90%;
    margin-left: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    width: 50%;
    font-size: 1.75em;
    text-align: center;
}