.App {
  width: auto;
  height: 100vh;
  background: linear-gradient(180deg, rgba(184, 184, 184, 0.56) 0%, rgba(230, 230, 230, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(75, 300, 20, 0.39) 150%);
  mix-blend-mode: normal;
}

