.navbar {
    height: 7vh;
    background-color: #222222;
    width: 100%;
    /* margin: auto; */
    border-bottom: .01px solid #04D700;
    /* padding-bottom: .5%; */
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
}

nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
    margin-top: 1%;
    text-decoration: none;

}

.navTitle {
    justify-content: left;
    margin-left:1%;
    font-size: 1.6em;
    color: hsl(276, 97%, 76%);
    font-weight: bold;
    font-family: 'Lora', serif;
    
}

.navTitle a {
    text-decoration: none;

}

.navTitle a:visited {
    color:hsl(276, 97%, 76%);;
}

.navlink {
    display: flex;
    justify-content: right;
    justify-content: space-evenly;
    width: 30%;
    color: #dba4e2;
    font-family: 'Mukta', serif;
    font-size: 1.2em;
    /* background-color: red; */
}

.navlink a {
    text-decoration: none;
}

.navlink a:visited {
    color:#dba4e2;
}

.footer {
    background-color: #404040;
    position: absolute;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    border-top: 1px solid#04D700;
    color: white;
    display: flex; 
    justify-content:space-between;
    align-items: center;

}

.footer img {
    width: 14%;
}

.copyright {
    margin-left: 2vw;

}

.links {
    display: flex;
    width: 10%;
}

.footer .links a {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    margin-right: 2vw;
    color: #36ff33;
    text-decoration: none;
    /* background: red; */
}
